@import 'tailwindcss';

@theme {
  --color-red: #E30613;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.blog-logo{
  svg{
    path{
      fill:white;
    }
  }
}