@import 'tailwindcss';

@theme {
  --color-red: #E30613;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.blog-logo{
  svg{
    path{
      fill:white;
    }
  }
}

footer{
  

  > .text-red{
    .nav-link{
      &:hover,&.active{
        color:white;
      }
    }
  }

  > .text-white{
    .nav-link{
      &:hover,&.active{
        color:black;
      }
    }
  }
}

.simplebar-scrollbar::before {
  opacity: 1 !important;
  border-radius: 0 !important;
  background-color: var(--color-red-800) !important;
}

.simplebar-track{
  &:after{
    position:absolute;
    content:'';
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background-color: var(--color-gray-800) !important;
    z-index:-1;
  }
}

.simplebar-track{
  pointer-events: auto;

  &.simplebar-horizontal{
    bottom:-1.25rem !important;
    
  }

  &.simplebar-vertical{
    right:-1.25rem !important;
  }
}



.ticker-container {
    overflow: hidden;
    position: relative;
    height:2.5rem;
}

.ticker-wrapper {
    display: flex;
    flex-direction: column;
    animation: scroll-up 25s linear infinite;
}

@keyframes scroll-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}

.ticker-wrapper:hover {
    animation-play-state: paused;
}